{% extends 'base.html.twig' %}
{% block body %}
    <h1 class="text-center mt-5">Durée Total réelle des appels effectués après le 15/02/2012 inclus</h1>
{#    <h5 class="text-center mt-5">{{ result }}</h5>#}

    <div class="ml-3">
        <a type="submit" class="btn btn-danger offset-2" href="{{ path('call_tickets') }}">Retour</a>
    </div>
{% endblock %}